In [ ]:
# import libraries
from pycaret.regression import *
# from pycaret.arules import *
# from pycaret.clustering import *
# from pycaret.classification import *
import random
import pandas as pd# read in your stock data
import finviz

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
stocks_df = pd.read_csv(r'C:\\Users\\Frank Einstein\\Desktop\\stock records\\combined csvs\\all stocks.csv')
tickers = stocks_df['Ticker'].to_list()

ticker_set = set()

for ticker in tickers:
    if ticker.endswith('TX'):
        ticker_set.add(ticker)

print(len(ticker_set))

In [ ]:
df = pd.read_csv('C:\\Users\\Frank Einstein\\Desktop\\pb_winning_numbers_03-18-2017.csv')
# days = df['DrawDate'].to_list()
# days = [x[3:5] for x in days]

months = df['DrawDate'].to_list()
months = [x[0:2] for x in months]

df['DrawDate'] = months

In [ ]:
from collections import Counter

Counter(days).keys() # equals to list(set(words))

In [ ]:
Counter(days).values() # counts the elements' frequency

In [ ]:
stocks_df = stocks_df[stocks_df['Change'] > 10]
stocks_df = stocks_df[stocks_df['Prev Close'].astype(float) * 1.2 < stocks_df['Open'].astype(float)]
stocks_df = stocks_df[stocks_df['High'].astype(float) > stocks_df['Open'].astype(float)]
# stocks_df = stocks_df[stocks_df['Sales Q/Q'] > 25]

# stocks_df = stocks_df[stocks_df['SMA20'] < stocks_df['Price']]
# stocks_df = stocks_df[stocks_df['SMA50'] < stocks_df['Price']]
# stocks_df = stocks_df[stocks_df['SMA200'] < stocks_df['Price']]

stocks_df = stocks_df[stocks_df['Sector'] != 'Shell Companies']
stocks_df = stocks_df[stocks_df['Sector'] != 'Exchange Traded Fund']
stocks_df = stocks_df[stocks_df['Industry'] != 'Shell Companies']

# stocks_df = stocks_df[stocks_df['Change'] < 15]

stocks_df = stocks_df.loc[:, ~stocks_df.columns.str.contains('^Unnamed')]

In [ ]:
stocks_df.to_csv('C:\\Users\\Frank Einstein\\Desktop\\stonks.csv')

In [3]:
# stocks_df = stocks_df[stocks_df['Date'].isin
                      # (['2021-06-01', '2021-06-15', 
                        # '2021-06-30', '2021-07-15', 
                        # '2021-07-30', '2021-08-16', 
                        # '2021-08-30', '2021-09-15', 
                        # '2021-09-30', '2021-10-5'])]
                    
# stocks_df = stocks_df[stocks_df['Date'].isin(['2021-06-01'])]
# stocks_df = stocks_df[(stocks_df['Date'] > '2013-01-01') & (stocks_df['Date'] < '2021-07-05')]

stocks_df = stocks_df.drop(columns=['RSI (14)', 'ROE', 'Volume', 'Date', 'Country', 'ROI', 'Short Ratio'])
stocks_df = stocks_df.drop(columns=['P/S', 'P/B', 'P/C', 'PEG', 'Forward P/E', 'P/E', 'P/FCF', 'Book/sh'])
# stocks_df = stocks_df.drop(columns=['Sales Q/Q', 'EPS Q/Q', 'Beta'])
stocks_df = stocks_df.drop(columns=['Market Cap', 'Shs Outstand', 'Shs Float', 'Avg Volume'])
stocks_df = stocks_df.drop(columns=['Rel Volume', 'Change'])
stocks_df = stocks_df.drop(columns=['Sector', 'Industry'])
stocks_df = stocks_df.drop(columns=['Perf Half Y', 'Perf YTD', 'Perf Quarter', 'Perf Year', 'Perf Month'])
# stocks_df = stocks_df.drop(columns=['Close', 'Low', 'Open', 'High'])
stocks_df = stocks_df.drop(columns=['SMA20', 'SMA50', 'SMA200'])

stocks_df = stocks_df.drop(columns=['52W High', '52W Low', 'ATR', 'Employees', 'ROA', 'Beta'])
stocks_df = stocks_df.drop(columns=['Target Price', 'Recom', 'Price', 'Prev Close'])
# stocks_df = stocks_df[stocks_df.Industry != 'USA']

# stocks_df['Recom'] = stocks_df['Recom'].round(0)

# stocks_df = stocks_df.drop_duplicates(subset=['Ticker'])
stocks_df = stocks_df.drop(columns=['Ticker'])

stocks_df['Payout'] = stocks_df['Payout'].str.replace('\%','').astype(float)

stocks_df = stocks_df.loc[:, ~stocks_df.columns.str.contains('^Unnamed')]

# stocks_df.drop(columns=['Date'])

# stocks_df = stocks_df[['Date', 'Price']]

# stocks_df.drop(stocks_df.columns.difference
# (['Rel Volume', 'EPS next Y', 'EPS Q/Q', 'Beta', 'Perf YTD', 'Perf Month', 
#   'Perf Week', 'Perf Half Y', 'SMA200', 'EPS past 5Y', '52W Low', 'Insider Own', 'Perf Quarter', 
#   'RSI (14)', 'Change'
# ]), 1, inplace=True)

# stocks_df.to_csv('stocks_df_three.csv')

In [ ]:
stocks_df

In [ ]:
stocks_df = stocks_df[['Recom', 'Perf Year', 'Target Price']]

In [ ]:
df_all_rows = pd.concat([stocks_df_two, stocks_df_three, stocks_df_four])

In [ ]:
# df = df.drop(columns=['PP'])
df = df[df.DrawDate != '05']
df = df[df.DrawDate != '07']
df = df[df.DrawDate != '06']
df = df[df.DrawDate != '09']
df = df[df.DrawDate != '03']

In [4]:
regression = setup(data = stocks_df, 
 session_id = 222610, 
 target = 'Perf Week',
 # feature_selection=True,
#  feature_selection_threshold = 0.10,
 fold_strategy = 'kfold',
use_gpu = True,
   silent = True
  )# compare models

In [5]:
# lasso = create_model(compare_models(exclude = ['catboost']))
lasso = create_model('xgboost')

In [ ]:
tuned_lasso = tune_model(lasso)
# tuned_lasso = lasso

IntProgress(value=0, description='Processing: ', max=7)

Initiated  . . . . . . . . . . . . . . . . . .                   09:43:32
Status     . . . . . . . . . . . . . . . . . .           Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extreme Gradient Boosting

Empty DataFrame
Columns: [MAE, MSE, RMSE, R2, RMSLE, MAPE]
Index: []

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed: 18.3min finished

In [ ]:
save_model(tuned_lasso, 'xgboost_month')

In [ ]:
predict_model(tuned_lasso).to_csv('E:\\xgboost_month.csv')

In [ ]:
plot_model(tuned_lasso, plot='feature')

In [ ]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        if len(x) > 1:
            return float(x.replace('B', '')) * 1000000000
        return 1000000000.0
    if 'T' in x:
        if len(x) > 1:
            return float(x.replace('T', '')) * 1000000000000
        return 1000000000000000.0

    return 0.0

In [ ]:
def clean_data(df):
    # convert all numbers formatted with letters to float value
    df['Market Cap'] = df['Market Cap'].apply(value_to_float)

    df['Shs Outstand'] = df['Shs Outstand'].apply(value_to_float)

    df['Shs Float'] = df['Shs Float'].apply(value_to_float)

    df['Sales'] = df['Sales'].apply(value_to_float)

    df['Avg Volume'] = df['Avg Volume'].apply(value_to_float)

    df['Income'] = df['Income'].apply(value_to_float)

    cols_to_check = ['Insider Own','Perf Week', 'EPS (ttm)', 'Payout', 'EPS next Y', 'EPS next Q', 'Insider Trans', 'Perf Month', 'Inst Own',
                     'Short Float', 'Perf Quarter', 'EPS this Y', 'Inst Trans', 'Perf Half Y', 'ROA', 'Perf Year',
                     'EPS next 5Y', 'ROE', 'Perf YTD', 'EPS past 5Y', 'ROI', '52W High', 'Dividend %', 'Sales past 5Y',
                     'Gross Margin', '52W Low', 'Sales Q/Q', 'Oper. Margin', 'EPS Q/Q', 'Profit Margin', 'SMA20', 'SMA50',
                     'SMA200', 'Change', 'Target Price', 'P/S', 'Short Ratio', 'Book/sh', 'Cash/sh', 'P/C', 'Dividend',
                     'P/FCF', 'Beta', 'Quick Ratio', 'ATR', 'Current Ratio', 'Price', 'Recom', 'P/E', 'RSI (14)', 'Forward P/E']

    df = df.drop(['Company', 'Volatility', 'Optionable', 'Shortable', 'Earnings',  '52W Range', 'Index'], axis=1)

    # remove % from all specified columns to get the raw value
    df[cols_to_check] = df[cols_to_check].replace({'%':''}, regex=True)
    df = df.replace("-", np.nan)

    df[cols_to_check] = df[cols_to_check].fillna(0).astype('float')
    # df[cols_to_check] = df[cols_to_check].fillna(0).astype('int')
    
    return df

In [ ]:
from finviz.screener import Screener

filters = []  
# filters = ['fa_ltdebteq_u0.1', 'fa_pfcf_low','sh_insiderown_o10']
stock_list = Screener(filters=filters, table='Performance', order='price')  
# 
# stocks_df_two = pd.read_csv('stocks_df_two.csv')
# stocks_df_two = stocks_df_two.loc[:, ~stocks_df_two.columns.str.contains('^Unnamed')]

In [ ]:
for x in stock_list:
    print(x['Ticker'])

In [ ]:
new = []
for x in stock_list:
    new.append(x['Ticker'])

model = load_model('xgboost_month')

In [ ]:
def iterate():
        for stock in stock_list:
            try:

                stock = stock['Ticker']

                # boolean_series = stocks_df_two['Ticker'].isin(new)

                # filtered_df = stocks_df_two[boolean_series]
                
                # df = pd.read_csv('E:\\to_reference\\' + stock + ".csv")
                # df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

                df = pd.DataFrame(finviz.get_stock(stock), index =[0])

                df = clean_data(df)
                
                df['Ticker'] = stock
                
                # df.to_csv('E:\\to_reference\\' + stock + ".csv")

                predictions = predict_model(model, data=df)

                print(predictions['Label'])
                print(predictions['Ticker'])
                
                predictions.to_csv("E:\\predictions\\" + stock + ".csv")
            except BaseException as err:
                print(err)

iterate()

In [ ]:
import functools
import glob
df = pd.concat(map(functools.partial(pd.read_csv, compression=None, error_bad_lines=False),
                                 glob.glob('E:\\predictions'  + "/*.csv")))
df.to_csv('E:\\predictions\\final_df.csv')

In [ ]:
df = pd.read_csv('E:\\predictions\\final_df.csv')
my_file = open("E:\\top gainers.txt", "r")

content = my_file.readlines()
content = [line.rstrip() for line in content]

df = df[~df['Ticker'].isin(content)]
df = df[df['Label'] == 1]
# df = df[df['Score'] > 0.70]

# df = df[df['Country'] != 'China']
# df = df[df['Industry'] != 'Biotechnology']
# df = df[df['Sector'] != 'Financial']

# df = df[df['Market Cap'] < 2000000000]

df.to_csv('E:\\final_df_final_four.csv')